.filter{
	display:flex;
	align-items:center;
	margin-bottom:20px;
}
.navCirculation{
	padding:7px;
	display:flex;
	align-items:center;
	box-shadow: 2px -1px 4px rgba(185, 185, 185, 0.8);
	border-bottom:1px solid #b8b8b8;
	font-weight:bolder;
}
.navCirculation li{
	padding:8px 20px;
	color:#00876f;
	cursor:pointer;
}
li.navActive{
	background-color:#00876f;
	color:#ffff;
}
.navCirculation li:first-child{
	margin-right:10px;
}
.navCirculation li{
	border:1px solid #b8b8b8;
}
.search{
	margin-right:40px;
}
.pagin{
	margin-top:10px;
	margin-bottom:40px;
}
.svg{
	text-align:center;
	font-size:1.2em;
	cursor:pointer;
}
.labelRed{
	padding:8px 13px;
	background-color:#f4aeae;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	display:flex;
	align-items:center;
}